{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div style="text-align:center; max-width:500px; margin: 4rem auto">
    <div class="mb-4">
        <h4>GalleryCafe Create</h4>
    </div>

    <form action="{% url 'mainapp:create' %}" method="post" enctype="multipart/form-data" class="post_form">
        <div class="title">
            GalleryCafe Create
        </div>
        <div class="preview">
            <div class="upload">
                <label for="id_image1">
                    <div class="plus_icon1">
                        <span></span>
                        <span></span>
                    </div>
                    <canvas id="imageCanvas1"></canvas>
                </label>

                <label for="id_image2">
                    <div class="plus_icon2">
                        <span></span>
                        <span></span>
                    </div>
                    <canvas id="imageCanvas2"></canvas>
                </label>

                <label for="id_image3">
                    <div class="plus_icon3">
                        <span></span>
                        <span></span>
                    </div>
                    <canvas id="imageCanvas3"></canvas>
                </label>

                <label for="id_image4">
                    <div class="plus_icon4">
                        <span></span>
                        <span></span>
                    </div>
                    <canvas id="imageCanvas4"></canvas>
                </label>
            </div>
        </div>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
    </form>
</div>

<script src="/static/js/cafe_post.js"></script>
{% endblock %}