{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="post_form_container">
    <form action="{% url 'mainapp:create' %}" class="post_form" method="post" enctype="multipart/form-data">
        <div class="title">
            GalleryCafe Create
        </div>
        <div class="preview">
            <label for="id_image1" class="upload">
                <div class="post_btn">
                    <div class="plus_icon">
                        <span></span>
                        <span></span>
                    </div>
                    <p>카페 대표 이미지 추가</p>
                    <canvas id="imageCanvas"></canvas>
                </div>
            </label>
        </div>

        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-12 mt-4">
    </form>

</div>

<script>
var fileInput = document.querySelector("#id_image1")
fileInput.addEventListener('change', handleImage);
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');

function handleImage(e){
           var reader = new FileReader();
           reader.onload = function(event){
               var img = new Image();
               img.onload = function(){
                   canvas.width = 300;
                   canvas.height = 300;
                   ctx.drawImage(img,0,0,300,300);
               };
               img.src = event.target.result;

           };
           reader.readAsDataURL(e.target.files[0]);
       }
</script>

{% endblock %}


