{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="list_menu">
    <div class="search_div">
        <form action="" method="get" class="search_form">
            <input type="text" placeholder="카페 이름을 입력하세요">
            <button type="submit" class="material-icons">search</button>
        </form>
    </div>
    <a class="btn btn-dark write" href="{% url 'mainapp:create' %}">내 카페 등록하기</a>
</div>
<div class="list">
{% for gallerycafe in main_list %}
    <div class="list_container">
          <a href="{% url 'mainapp:detail' pk=gallerycafe.pk %}">
              <div class="list_content">
                  <img src="{{ gallerycafe.image1.url }}" alt="">
              </div>
              <div class="list_content">
                  <h6><strong>
                      {{ gallerycafe.name }}
                  </strong></h6>
                  <div class="detail_info">
                      <span><span class="material-icons">place</span> 갤러리위치~~로~~길</span>
                      <span><span class="material-icons">date_range</span> 2021.09.21~2021.11.11</span>
                  </div>
              </div>
          </a>
    </div>
{% endfor %}
</div>

{% endblock %}