/* 기본 설정 */
@media screen and (max-width:500px) {
    html{
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


/* header */
.logo{
    font-family: 'Lobster', "cursive";
    color: #886ab8;
    font-size: 1.5rem;
}

.logo.big{
    font-size: 2rem;
}

.logo_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo_box img{
    width: 3rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1rem 2rem;
}

.nav_item {
    margin: 0 0.5rem;
}

.header_navbar{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}


/* footer */
.footer_button{
    font-size: .9rem;
}

.footer {
    text-align:center;
    margin-bottom: 2rem;
}

.footer_link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}