
.jihyun_logo{
    font-family: 'Lobster', cursive;"
}

.jihyun_footer_button{
    font-size: .9rem;
}

.jihyun_footer {
    text-align:center;
    margin-bottom: 2rem;
}

.jihyun_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html{
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
     color: black;
    text-decoration: none;
}

.jihyun_header_nav {
    margin: 0 0.5rem;
}

.jihyun_header_navbar{
    margin: 1rem 0;
}