<div class="footer">
    <div style="margin-top: 1rem;">
        <span class="logo">CafeInArt</span>
    </div>

    <div class="footer_button">
        <a href="#" class="footer_link"><strong>About CIA</strong></a>|
        <a href="#" class="footer_link">Privacy Policy</a>|
        <a href="#" class="footer_link">Help</a>|
        <a href="#" class="footer_link">Business</a>
        <br>
        <span>
            <a>©2021 UnderdogRev.  </a>&nbsp;
            <a> 준호</a>
            <a>지현</a>
            <a>태호</a>
            <a>지원</a>
        </span>
    </div>

</div>