{% load static %}
<div class="header">
    <div>
        <a class="logo_box" href="{% url 'mainapp:list' %}">
            <img src="{% static 'CIA_logo.png' %}" alt="logo">
            <span class="logo big">CafeInArt</span>
        </a>
    </div>
    <div class="header_navbar">
        <a href="{% url 'mainapp:list' %}">
            <span class="nav_item">On display</span>
        </a>
        |
        <a href="#">
            <span class="nav_item">Artist</span>
        </a>
        |
        <a href="#">
            <span class="nav_item">Cafe</span>
        </a>
    </div>
</div>